{% extends 'layout.html' %}

{% block content %}
<h4>Data Dashboard: Project Voting Results</h4>
<h5>Description: Chart below is an example of where actual project voting data will appear.</h5>
<div class="row">
    <div class="col-xs-3">
        <label>Please Select Plot Type</label>
        <select class="form-control" id ='first_cat'>
            <option value="Bar">Bar</option>
            <option value="Scatter">Scatter</option>
        </select>
    </div>
    <div class="col-md-6">
        <div class="chart" id="bargraph">
            <script>
                var graphs = {{plot | safe}};
                Plotly.plot('bargraph',graphs,{});
            </script>
        </div>
    </div>
</div>
{% endblock %}
