{% extends 'layout.html' %}

{% block content %}

<h3>All Projects</h3>

  <a href="project/new" class="btn btn-primary" role="button">New Project</a>
  <br></br>

  <div class="row">
    <div class="large-8 columns">
       <div class="row container1">
           {% for project in projects %}
               <div class="large-4 small-4 columns">
                   <ul>
                       <li>
                       {% if project.name %}
                           Name: {{project.name}}
                           <p>
                       {% endif %}

                       {% if project.description %}
                           Description: {{project.description}}
                           <p>
                       {% endif %}
                       </li>
                   </ul>
               </div>
           {% endfor %}
       </div>
    </div>
 </div>

{% endblock %}
